    <table class="table table-hover">
        <tr>
            <td>
                {% set user_link %}
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                {% endset %}
                {{ user_link }} <i>ti sporoča:</i>
                <br>
                <br>
                    {{ post.body }}
                <br>
                <br>
                    <i>{{ moment(post.timestamp).format('llll') }}</i>                
            </td>
        </tr>
    </table>
